*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

.ibrand{
    font-family: Ibrand;
}

body.scroll-active{
  overflow: auto;
  padding-right: 17px; 
}
body::-webkit-scrollbar {
width: 5px;               /* width of the entire scrollbar */
}



body::-webkit-scrollbar-thumb {
background-color: #059669;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
}

#__nuxt{
    display: flex;
}
.borde{
    border: 1px solid #D3D3D3;
    border-radius: 8px;
}
.txtcolor{
    color: #1F1F22;
}

.gradient-verde {
  background: linear-gradient(270deg, rgba(6, 183, 71, 0.70) 0.35%, #06B747 23.15%, #06B747 97.45%);
}

.gradient-morado {
  background: linear-gradient(90deg, #9747FF 2.47%, rgba(151, 71, 255, 0.89) 71.93%, rgba(151, 71, 255, 0.70) 99.88%);
}

.gradient-azul {
  background: linear-gradient(90deg, #0165FD 0.12%, #0165FD 76.84%, rgba(1, 101, 253, 0.70) 100.12%);
}

.gradient-celeste {
  background: linear-gradient(90deg, #01CAFF 0%, #01CAFF 71.54%, rgba(0, 200, 255, 0.70) 100%);
}
.container_stats{
    .container {
        width: 100%;
    }
    @media (min-width: 640px) {
        .container {
            max-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .container {
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .container {
            max-width: 1280px;
        }
    }
    @media (min-width: 1536px) {
        .container {
            max-width: 1930px;
        }
    }
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #108047;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #108047;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  };

 
  
  